body {
  position: relative;

  margin: 0; padding: 0;

  color: white;
  
  background-size: 1700px;
  // background-position: center;
};


#weather {
  position: absolute;
  top: 20px; right: 20px;

  div {
    text-align: center;
    
    .city {
      font-size: 12px;
    }
    .temp {
      font-size: 50px;
      margin-bottom: -10px;
    }
  }
}

#center {
  // height: 100vh;
  padding: 150px 0 100px;
  text-align: center;

  #current-date {
    margin: 0px;
    font-size: 20px;
  }
  #clock {
    font-size: 100px;
    font-weight: bold;
  }

  #greeting {
    position: relative;
    span {
      font-size: 19px;
    }
  }
}



input {
  padding: 10px 15px;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: initial;

  color: #fff;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #ffffffa6;
  }
}

.hidden {
  display: none;
}

#login-form {
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
  }
}

#todo-list{
  li {
    margin: 5px 0px;
    list-style: none;
    &.active {
      text-decoration: line-through;
      color: #d8d8d8;
      button {
        color: #d8d8d8;
      }
    }


    button {
      // display: none;
      background-color: transparent;
      border: none;
      font-size: 15px;
      color: white; // dlatl
    }

    input{
      display:none;
      }
    
    input + label{
      margin-right: 10px;
      cursor:pointer;
     }
    
    /* label:before에 체크하기 전 상태 CSS */
    input + label:before{
      content:"";
      display:inline-block;
      width:17px;
      height:17px;
      border:2px solid #fff;
      border-radius: 50%;
      vertical-align:middle;
      }
      
    /* label:before에 체크 된 상태 CSS */  
    input:checked + label:before{
      content:"✔︎";
      color: #fff;
      font-size: 15px;
      background-color:#d8d8d8;
      border-color:#d8d8d8;
      // border-color:#d0021b;
      // border-color:#F47C7C;
      }
  }
}

#quotes {
  margin-bottom: 100px;
  text-align: center;
}