body {
  position: relative;

  margin: 0; padding: 0;

  color: white;
  
  background-size: 1700px;
  background-repeat: no-repeat;
};


#weather {
  position: absolute;
  top: 20px; right: 20px;

  div {
    text-align: center;
    
    .city {
      font-size: 12px;
    }
    .temp {
      font-size: 50px;
      margin-bottom: -10px;
    }
  }
}

#center {
  height: 100vh;
  // vertical-align: middle;
  text-align: center;

  #clock {
    font-size: 100px;
    font-weight: bold;
  }
}

input {
  padding: 10px 15px;
  border: none;
  border-bottom: 2px solid #000;
  background-color: #eee;

  &:focus {
    outline: none;
  }
}