*{margin:0; padding:0; font-family:'NanumSquareR';}
html, body{position:absolute; width:100%; height:100%; margin:0; padding:0; background-color:#000; overflow:hidden; -webkit-overflow-scrolling:touch;}
ol, ul, li {list-style:none;margin:0;padding:0;}
label{visibility: hidden; position: absolute; left: 0px; top: 0px;}
button { background-color: transparent; padding: 0; margin: 0; border: none;  text-align: left; font-size: 0px;}
.essence-list * {word-break: keep-all; font-smoothing: antialiased; -moz-font-smoothing: antialiased; -webkit-font-smoothing: antialiased;}

.bg-title
{
	position:relative;
	display:inline-block;
	margin-left: 64px;
	margin-top: 35px;
	width:473px;
	height:47px;
	background:url(../img/title.png) no-repeat;
}
#essence
{
	position:relative;
	overflow:hidden;
	margin:0 auto;
	width:1818px;
	height:1169px;
	background:url(../img/bg.png) no-repeat;
}

#essence-left
{
	position:absolute;
	left:0px;
	top:0px;
	width:909px;
	height:1169px;
	overflow:auto;
}

#essence-right
{
	position:absolute;
	left:909px;
	top:0px;
	width:909px;
	height:1169px;
}

#essence-1
{
	display:block;
	position:relative;
	width:100%;
	height:100%;
}
.essence-page
{
	position:relative;
	width:100%;
	height:100%;
}


.essence-left-btns
{
	display:inline-block;
	position:relative;
	width:100%;
	height:60px;
	margin-top: 58px;
	background:#19211f;
}
.creat-folder-btn
{
	display:inline-block;
	position:relative;
	left:0px;
	top:5px;
	width:49px;
	height:49px;

	cursor:pointer;
	background:url(../img/folder_btn.png) no-repeat;
}
.creat-folder-btn:hover{background:url(../img/folder_btn_hover.png) no-repeat;}
.del-folder-btn
{
	display:inline-block;
	position:relative;
	left:0px;
	top:5px;
	width:49px;
	height:49px;

	cursor:pointer;
	background:url(../img/del_btn.png) no-repeat;
}
.del-folder-btn:hover{background:url(../img/del_btn_hover.png) no-repeat;}

.prev-page-btn
{
	display:inline-block;
	position:relative;
	left:0px;
	top:5px;
	width:50px;
	height:49px;

	cursor:pointer;
	background:url(../img/prev_btn.png) no-repeat;
}
.prev-page-btn:hover{background:url(../img/prev_btn_hover.png) no-repeat;}

.list-move-btn
{
	display:inline-block;
	position:relative;
	left:0px;
	top:5px;
	width:50px;
	height:49px;

	cursor:pointer;
	background:url(../img/move_btn.png) no-repeat;
}
.list-move-btn:hover{background:url(../img/move_btn_hover.png) no-repeat;}
.list-move-btn.on{background:url(../img/move_btn_hover.png) no-repeat;}

.chk-reset-btn
{
	display:inline-block;
	position:relative;
	left:0px;
	top:5px;
	width:50px;
	height:49px;

	cursor:pointer;
	background:url(../img/reset_btn.png) no-repeat;
}
.chk-reset-btn:hover{background:url(../img/reset_btn_hover.png) no-repeat;}

.guide-down-btn
{
	display:inline-block;
	position:absolute;
	right:10px;
	top:3px;
	width:255px;
	height:52px;

	cursor:pointer;
	background:url(../img/guide_down_btn.png) no-repeat;
}
.guide-down-btn:hover{background:url(../img/guide_down_btn_hover.png) no-repeat;}

.essence-left-btns > button:nth-child(1)
{
	margin-left: 80px;
}
.essence-left-btns > button:nth-child(2)
{
	margin-left: 20px;
}
.essence-left-btns > button:nth-child(3)
{
	margin-left: 20px;
}
.essence-left-btns > button:nth-child(4)
{
	margin-left: 20px;
}
.essence-left-btns > button:nth-child(5)
{
	margin-left: 20px;
}

.essence-folder
{
	display:block;
	margin-bottom: 30px;
}
.forder-icon
{
	display:inline-block;
	position:relative;
	left:0px;
	top:0px;
	width:52px;
	height:49px;

	background:url(../img/folder_icon.png) no-repeat;
	vertical-align:middle;
}

.essence-folder li
{
	cursor:pointer;
	font-size:32px;
	margin-top: 20px;
}
.essence-folder li:after
{
	content:'';
	position:relative;
	left:130px;
	top:0px;
	display:block;
	width:700px;
	height:1px;
	border-bottom:1px dashed #222222;
}

.essence-folder li:first-child
{
	margin-top: 20px;
}

.folder-name
{
	width:680px;
	border:none;
	box-shadow:none;
	outline:none;
	background:none;
	margin-left: 10px;
}
.essence-folder li.on  .folder-name
{
	outline:solid 1px #000000;
}

.essence-list li
{
	cursor:pointer;
	font-size:32px;
	position:relative;
}
.essence-list li
{
	margin-top: 10px;
}
.essence-list li:first-child
{
	margin-top: 0px;
}
.essence-list li:last-child
{
	margin-bottom: 20px;
}
.essence-list
{
	margin-left: 50px;
}
#essence-1 .essence-list
{
	margin-left: 0px;
}
.essence-list li:after
{
	content:'';
	position:relative;
	left:0px;
	top:0px;
	display:block;
	width:790px;
	height:1px;
	margin-top: 10px;
	border-bottom:1px dashed #222222;
}


.pgae-ans-chk-box
{
	position:absolute;
	right:80px;
	top:-5px;
	width:70px;
	height:100%;
}
.pgae-ans-chk
{
	position:relative;
	display:block;
	left:0px;
	top:50%;
	width:60px;
	height:60px;
	margin:0 auto;
	margin-top: -30px;
	background-color:#ffffff;
	border-radius: 14px;
	border: solid 2px #dcdcdc;
	box-sizing: border-box;
}
.pgae-ans-chk.ok
{
	background-image: url(../img/check_o.png); 
	background-position:center center; 
	background-repeat:no-repeat;
	background-size:75% 75%;
}
.pgae-ans-chk.no
{
	background-image: url(../img/check_x.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:75% 75%;
}


.essence-list
{
	margin-left: 50px;
}
#essence-1 .essence-list
{
	margin-left: 0px;
}
.essence-list li:after
{
	content:'';
	position:relative;
	left:0px;
	top:0px;
	display:block;
	width:790px;
	height:1px;
	margin-top: 10px;
	border-bottom:1px dashed #222222;
}

#essence-1 .essence-list li:after
{
	margin-left: 0px;
	left:180px;
	width:650px;
}

.checkBox
{
	display:inline-block;
	position:relative;
	left:0px;
	top:0px;
	margin-left: 20px;
	margin-right: 20px;
	width:25px;
	height:26px;
	vertical-align:middle;

	background:url(../img/checkBox.png) no-repeat;
}

.essence-list li p
{
	display:inline-block;
}
.unit-txt
{
	position:relative;
	left:0px;
	top:0px;
	width:105px;
	height:48px;
	vertical-align:middle;

	background:url(../img/unit_bg.png) no-repeat;

	color:#fefffe;
	font-size:28px;
	text-align:center;
	line-height:48px;
	overflow:hidden;
	font-family:'NanumSquareR';
	font-weight:bold;
	margin-right: 10px;
}
.checkBox.on:after
{
	content:'';
	position:absolute;
	left:0px;
	top:-8px;
	width:29px;
	height:29px;

	background:url(../img/checkBox_check.png) no-repeat;

}

.btn-rename
{
	display:inline-block;
	position:relative;
	left:0px;
	top:0px;
	margin-left: 10px;
	margin-right: 20px;
	width:24px;
	height:19px;
	background:url(../img/rename_btn.png) no-repeat;
	vertical-align:bottom;
	opacity:1;
}
.btn-rename.on
{
	opacity:0.4;
}
.input-pop-name
{
	display:inline-block;
	max-width:520px;
	vertical-align:middle;
}
.input-pop-name p
{
	font-size:30px;
	height:30px;
}
.root .input-pop-name{max-width:570px;}


#essence-left input
{
	font-size:30px;
	height:30px;
}
.mCSB_inside > .mCSB_container
{
	margin-right: 9px;
}

.folder-name[readonly='readonly']
{
	cursor:pointer;
}

#loader-temp{display:none;}