#amList-box-wrap
{
	width: 99%;
	height: 99%;
	background-color: #b1872c;
	border: solid 7px #9a7423;
	border-radius: 80px;
	margin: 0 auto;
}

#amList-top-title
{
	position: absolute;
	top: 29px;
	left: 80px;
	background: url(../images/viewer/amList_title.png) no-repeat;
	width: 323px;
	height: 66px;
}

#amList-box .book-popup-close-btn{background: url(../images/viewer/close_btn.png) no-repeat;}

#amList-con-box
{
	position: absolute;
	bottom: 0;
	left: 2.5px;
	width: 99%;
	height: 91%;
	background-color: #fff;
	border: solid 7px #9a7423;
	border-radius: 80px;
	overflow: hidden;
	overflow-y: auto;
}
#amList-box.book-popup .unit-title
{
	background-color: #f1f1f1 !important;
}

#amList-box.book-popup .unit-con-title
{
	margin-bottom: 20px !important;
	min-height: 90px;
}

#amList-box.book-popup .unit-title .unit-title-txt
{
	line-height: 100px;
	color: #845210;
	padding-left: 50px;
	/* background: url(../images/viewer/list_brit_3.png) no-repeat  40px center; */

	font-family: "NanumSquareEB";
	font-weight: bold;
}
#amList-box.book-popup .unit-con-title-txt p
{
	padding-left: 110px;
	color: #000;
}

#amList-box.book-popup .unit-con-title-page {
	position: absolute;
	display: inline-block;
	right: 0px;
	top: 0px;
	width: 263px;
	height: 90px;
	background: url(../images/viewer/down_btn.png) no-repeat center;
}
#amList-con-box .unit-con-box{width: 93%;}
