@charset "utf-8";
@font-face{
	font-family:'NanumGothic';
	src:url('../fonts/NanumGothic.eot'),
	src:url('../fonts/NanumGothic.woff') format('woff'),
	url('../fonts/NanumGothic.ttf') format('truetype'),
	url('../fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
}

@font-face{

	font-family:'NanumSquareR';
	src:url('../fonts/NanumSquareR.eot');
	src:url('../fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NanumSquareR.woff') format('woff'),
	url('../fonts/NanumSquareR.ttf') format('truetype'),
	url('../fonts/NanumSquareR.svg') format('svg');
}
@font-face{

	font-family:'NanumSquareEB';
	src:url('../fonts/NanumSquareEB.eot');
	src:url('../fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NanumSquareEB.woff') format('woff'),
	url('../fonts/NanumSquareEB.ttf') format('truetype'),
	url('../fonts/NanumSquareEB.svg') format('svg');
}


@font-face{

	font-family:'BMJUA';
	src:url('../fonts/BMJUA.eot');
	src:url('../fonts/BMJUA.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BMJUA.woff') format('woff'),
	url('../fonts/BMJUA.ttf') format('truetype'),
	url('../fonts/BMJUA.svg') format('svg');
}


@font-face{
	font-family:'Cafe24Dangdanghae';
	src:url('../fonts/Cafe24Dangdanghae.eot');
	src:url('../fonts/Cafe24Dangdanghae.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cafe24Dangdanghae.woff') format('woff'),
	url('../fonts/Cafe24Dangdanghae.ttf') format('truetype'),
	url('../fonts/Cafe24Dangdanghae.svg') format('svg');
}

@font-face{
	font-family:'NanumBarunGothic';
	src:url('../fonts/NanumBarunGothic.eot');
	src:url('../fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NanumBarunGothic.woff') format('woff'),
	url('../fonts/NanumBarunGothic.ttf') format('truetype'),
	url('../fonts/NanumBarunGothic.svg') format('svg');
}

@font-face{
	font-family:'NanumBarunGothicBold';
	src:url('../fonts/NanumBarunGothicBold.eot');
	src:url('../fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NanumBarunGothicBold.woff') format('woff'),
	url('../fonts/NanumBarunGothicBold.ttf') format('truetype'),
	url('../fonts/NanumBarunGothicBold.svg') format('svg');
}

@font-face {
	font-family: 'Recipekorea';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
