#referenceList-box-wrap
{
	width: 99%;
	height: 99%;
	background-color: #9f3737;
	border: solid 7px #832a2a;
	border-radius: 80px;
	margin: 0 auto;
}

#referenceList-top-title
{
	position: absolute;
	top: 29px;
	left: 80px;
	background: url(../images/viewer/referenceList_title.png) no-repeat;
	width: 396px;
	height: 68px;
}

#referenceList-box .book-popup-close-btn{background: url(../images/viewer/close_btn.png) no-repeat;}

#referenceList-box #referenceList-con-box
{
    position: absolute;
    bottom: 0;
    left: 2.5px;
    width: 99%;
    height: 91%;
    background-color: #fff;
    border: solid 7px #832a2a;
    border-radius: 80px;
}

#referenceList-box.book-popup .unit-title
{
	background-color: #f1f1f1 !important;
}


#referenceList-box.book-popup .unit-con-title
{
	margin-bottom: 20px !important;
	min-height: 90px;
}

#referenceList-box.book-popup .unit-title .unit-title-txt
{
	position: absolute;
	top: 0px;
	width: 50%;
	height: 100%;
	color: #c65959;
	text-align: left;
	font-family: "NanumSquareEB";
	line-height: 100px;
	margin: 0 55px;

}
#referenceList-box.book-popup .unit-title .unit-title-txt:last-child
{
	/* right: 0px;
	text-align: right; */
	left:0px;
	text-align: left;
}

#referenceList-box.book-popup .unit-con-title-txt p
{
	padding-left: 50px;
	color: #000000;

	padding-left: 50px;
        padding-right: 20px;
        background-color: #ffffff;
        display: inline-block;
        line-height: 75px;
        background: url(../images/viewer/list_brit_4.png) no-repeat 20px center #fff;
}

#referenceList-box.book-popup .unit-con-title-page
{
	position: absolute;
	display: inline-block;
	right: 0px;
	top: 0px;
	width: 263px;
	height: 90px;
	background: url(../images/viewer/down_btn.png) no-repeat center;
}

#referenceList-box .unit-con-box{width: 92%; left:4%;}
