#viewerList-box-wrap
{
	width: 99%;
	height: 99%;
	background-color: #276d9c;
	border: solid 7px #42a0de;
	border-radius: 80px;
	margin: 0 auto;
}

#viewerList-top-title
{
	position: absolute;
	top: 29px;
	left: 80px;
	background: url(../images/viewer/viewerList_title.png) no-repeat;
	width: 297px;
	height: 68px;
}

#viewerList-box .book-popup-close-btn{background: url(../images/viewer/close_btn.png) no-repeat;}

#viewerList-con-box
{
	position: absolute;
	bottom: 0;
	left: 2.5px;
	width: 99%;
	height: 91%;
	background-color: #fff;
	border: solid 7px #42a0de;
	border-radius: 80px;
	overflow: hidden;
	overflow-y: auto;
}
#viewerList-box.book-popup .unit-title
{
	background-color: #f1f1f1 !important;
}


#viewerList-box.book-popup .unit-con-title
{
	margin-bottom: 10px !important;
}

#viewerList-box.book-popup .unit-title .unit-title-txt
{
	color: #1a699d;
	padding-left: 50px;
}

#viewerList-box.book-popup .unit-con-title-txt:before
{
	content:'';
	position: absolute;
	top: 25px;
	left: 100px;
	width: 23px;
	height: 23px;
	background: url(../images/viewer/list_brit_1.png) no-repeat center;
	z-index: 100;
}
#viewerList-box.book-popup .unit-con-title-txt p
{
	padding-left: 140px;
	color: #000000;
}

#viewerList-box.book-popup .unit-con-title-page
{
	position: absolute;
	display: inline-block;
	right: 0px;
	top: 0px;
	width: 202px;

	top:50%;
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
	color: #42a0de;
	font-size: 40px;

	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 2px;
}
#viewerList-box.book-popup .unit-con-title-page p
{
	text-align: right;
	padding-right: 55px;
	background-color: #ffffff;
}
