#top-left-box
{
	position: relative;
	display: inline-block;
	width: 852px;
	height: 135px;
	float: left;
	text-align: center;
	z-index:2;
}
#top-center-box
{
	position: relative;
	display: inline-block;
	top: 12px;
	width: 264px;
	height: 110px;
	float: left;
	text-align: center;
	background:url(../images/viewer/navi_bg.png) no-repeat center center;
	z-index:1;
}
#top-right-box
{
	position: relative;
	display: inline-block;
	width: 852px;
	height: 135px;
	float: left;
	text-align: center;
	z-index:2;
}

#wrap #top .icon-btn				{display: inline-block; cursor:pointer; height:106px; margin:0 27px; margin-top: 13px;}

#wrap #top .icon-gobook-btn			{background:url(../images/viewer/icon_gobook_btn.png) no-repeat; width:106px;}
#wrap #top .icon-list-btn			{background:url(../images/viewer/icon_list_btn.png) no-repeat; width:82px;}
#wrap #top .icon-sign-lang-btn		{background:url(../images/viewer/icon_sign_lang_off_btn.png) no-repeat; width:82px;}
#wrap #top .icon-sign-lang-btn.on       {background:url(../images/viewer/icon_sign_lang_on_btn.png) no-repeat; width:82px;}
#wrap #top .icon-am-btn				{background:url(../images/viewer/icon_am_btn.png) no-repeat; width:81px;}


#wrap #top .icon-print-btn			{background:url(../images/viewer/icon_print_btn.png) no-repeat; width:82px;}
#wrap #top .icon-search-btn			{background:url(../images/viewer/icon_search_btn.png) no-repeat; width:81px;}
#wrap #top .icon-reference-btn		{background:url(../images/viewer/icon_reference_btn.png) no-repeat; width:94px;}
#wrap #top .icon-bookmark-btn           {background:url(../images/viewer/icon_bookmark_btn.png) no-repeat; width:82px;}


#wrap #top .icon-zoom-btn	       {background:url(../images/viewer/icon_zoom_btn.png) no-repeat; width:82px; opacity: 0.5;}
#wrap #top .icon-zoom-btn.on	       {opacity: 1;}
#wrap #top .icon-library-btn		{background:url(../images/viewer/icon_library_btn.png) no-repeat; width:82px;}

#wrap #top .icon-ruler-btn		       {background:url(../images/viewer/icon_ruler.png) no-repeat; width:82px;}
#wrap #top .icon-calculator-btn		{background:url(../images/viewer/icon_calculator.png) no-repeat; width:82px;}

#wrap #top .icon-reset-btn		{background:url(../images/viewer/icon_reset.png) no-repeat; width:96px;}


#wrap #top .navi-page-btn			{display:inline-block; cursor:pointer; vertical-align:top; margin:0px 2px; margin-top: 22px;}
#wrap #top .navi-first-move-btn		{background:url(../images/viewer/navi_first_move_btn.png) no-repeat; width:67px; height:67px;}
#wrap #top .navi-prev-move-btn		{background:url(../images/viewer/navi_prev_move_btn.png) no-repeat; width:68px; height:67px;}
#wrap #top .navi-next-move-btn		{background:url(../images/viewer/navi_next_move_btn.png) no-repeat; width:67px; height:67px;}
#wrap #top .navi-last-move-btn		{background:url(../images/viewer/navi_last_move_btn.png) no-repeat; width:67px; height:67px;}
#wrap #top .navi-page-text			{min-width:240px; font-size:50px; color:#fff; box-sizing:border-box; cursor:default; margin-top: 22px;}
#wrap #top .navi-page-text .cur-page    {color:#aae8e5;}

#wrap #bottom .essence-open-btn
{
	position: relative;
	display: inline-block;
	top: 17px;
	left:0px;
	width: 357px;
	height: 59px;
	background:url(../images/viewer/essence_btn.png) no-repeat center center;
	cursor:pointer;
	margin-left: 60px;
}
#wrap #bottom .essence-open-btn:hover{background:url(../images/viewer/essence_btn_hover.png) no-repeat center center;}
#wrap #bottom .pack-open-btn
{
	position: relative;
	display: inline-block;
	top: 17px;
	left:0px;
	width: 238px;
	height: 59px;
	background:url(../images/viewer/pack_btn.png) no-repeat center center;
	cursor:pointer;
	margin-left: 30px;
}
#wrap #bottom .pack-open-btn:hover{background:url(../images/viewer/pack_btn_hover.png) no-repeat center center;}

#wrap #bottom .thumnail-btn
{
	position: relative;
	display: inline-block;
	top: 17px;
	left:0px;
	width: 370px;
	height: 66px;
	margin:0 auto;
	background:url(../images/viewer/thumnail_btn.png) no-repeat center center;
	cursor:pointer;
	margin-left: 100px;
}

.ui-sub-navi-btn
{
	position:absolute;
	top:50%;
	margin-top:-37px;
	cursor:pointer;
	width:50px;
	height:75px;
}
#ui-sub-prev-btn{left:10px; background:url(../images/viewer/viewer_prev_btn.png);}
#ui-sub-next-btn{right:10px; background:url(../images/viewer/viewer_next_btn.png);}



#wrap button[data-btn="ui-btn"]{ background-color: transparent; padding: 0; margin: 0; border: none;  text-align: left; font-size: 0px;}


#wrap #bottom .examin-link-btn
{
	display:none;
}






.book-popup
{
	position:absolute;
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	top:50%;
	left:50%;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	display:none;
	z-index:10000;
}
.book-popup .book-popup-close-btn
{
	position: absolute;
	right: 60px;
	top: 40px;
	width: 42px;
	height: 42px;
	cursor: pointer;
}

.book-popup .unit-box {padding: 30px;}

.book-popup .unit-title
{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	min-height: 100px;
	margin-bottom: 20px !important;
	border-radius: 60px;
	text-align: center;
}
.book-popup .unit-title .unit-title-txt
{
	position: relative;
	width: auto;
	height: 100%;

	font-size: 45px;
	font-family: "NanumSquareEB";
	font-weight: bold;
	vertical-align: middle;
	text-align: left;
}

.book-popup .unit-title .unit-title-page
{
	position: absolute;
	right: 0px;
	top: 24px;
	padding-right: 55px;
	width: 202px;

}
.book-popup .unit-title .unit-title-page p
{
	color: #42a0de;
	font-size: 40px;
	font-weight: bold;
	text-align: right;
}


.book-popup .unit-con-box
{
	position: relative;
	display: block;
	margin-bottom: 20px;
}

.book-popup .unit-con-title
{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	background: url(../images/viewer/list_pattern.png) repeat-x center;
	background-color: #ffffff !important;
}

.book-popup .unit-con-title-txt
{
	position: relative;
	display: inline-block;
	height: 100%;
	max-width: 88%;
	vertical-align: middle;

	margin-top: 2px;
	margin-bottom: 2px;
}

.book-popup .unit-con-title-txt p
{
	font-size: 45px;
	font-weight: bold;

	padding-right: 20px;
	line-height: 75px;

	background-color: #ffffff;
}



.book-popup .unit-con-txt-box
{
	position: relative;
	display: block;
}
.book-popup .unit-con-txt
{
	position: relative;
	display: block;
	left: 0px;
	top: 0px;
	width: 100%;

	margin-bottom: 10px !important;
	background: url(../images/viewer/list_pattern.png) repeat-x center;
}
.book-popup .unit-con-txt-txt
{
	position: relative;
	display: inline-block;
	left: 0px;
	top: 0px;
	max-width: 78%;

	color: #555555;

	font-size: 40px;
}

.book-popup .unit-con-txt-txt p
{
	display: inline-block;

	padding-left: 160px;
	padding-right: 20px;

	line-height: 65px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #ffffff;
	font-family:'NanumBarunGothic';
}

.book-popup .unit-con-txt-page
{
	position: absolute;
	display: inline-block;
	right: 0px;
	top: 0px;
	width: 202px;

	top:50%;
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);

	margin-top: 2px;
	margin-bottom: 2px;
}
.book-popup .unit-con-txt-page p
{
	color: #42a0de;
	font-size: 40px;

	font-weight: bold;
	vertical-align: middle;
	text-align: right;

	padding-right: 55px;
	background-color: #ffffff;
}


#ruler-pop
{
	position: absolute;
	left: 0px;
	top:0px;
	width: 810px;
	height: 85px;
	z-index: 1000000;
	display: none;
	background: url(../images/popup/ruler.png) no-repeat;
}

#calculator-pop
{
	position: absolute;
	left: 0px;
	top:0px;
	width: 612px;
	height: 746px;
	z-index: 1000000;
	display: none;
	background: url(../images/popup/calculator_bg.png) no-repeat;
}
.calculator-cont {
	position: relative;
	width: 100%;
	height: 500px;

}
.calculator-cont>div {
	position: absolute;
	cursor: pointer;
	border-radius: 26px;
	opacity: 0.5;
}
.calculator-cont .calculator-view-mod {
	width: 418px;
	top: 62px;
	left: 91px;
	border-radius:0;
	padding: 20px 10px;
	font-size: 28px;
	font-weight: bold;
	cursor: default;
	text-align: right;
	overflow: hidden;
	opacity: 1;
}
.calculator-cont .calculator-view {
	width: 418px;
	top: 104px;
	left: 91px;
	border-radius:0;
	padding: 20px 10px;
	font-size: 50px;
	font-weight: bold;
	cursor: default;
	text-align: right;
	overflow: hidden;
	opacity: 1;
}
.calculator-cont #c_on {width: 87px; height: 239px; top: 267px; left: 26px;}
.calculator-cont #c_on.on {background: url(../images/popup/calculator_bg_on.png) center no-repeat; opacity: 1;}
.calculator-cont #c_reset {width: 87px; height: 133px; top: 517px; left: 26px;}
.calculator-cont #c_0 {width: 224px; height: 84px; top: 569px; left: 129px;}
.calculator-cont #c_1 {width: 102px; height: 84px; top: 469px; left: 131px;}
.calculator-cont #c_2 {width: 102px; height: 84px; top: 469px; left: 250px;}
.calculator-cont #c_3 {width: 102px; height: 84px; top: 469px; left: 369px;}
.calculator-cont #c_4 {width: 102px; height: 84px; top: 367px; left: 131px;}
.calculator-cont #c_5 {width: 102px; height: 84px; top: 367px; left: 250px;}
.calculator-cont #c_6 {width: 102px; height: 84px; top: 367px; left: 369px;}
.calculator-cont #c_7 {width: 102px; height: 84px; top: 267px; left: 131px;}
.calculator-cont #c_8 {width: 102px; height: 84px; top: 267px; left: 250px;}
.calculator-cont #c_9 {width: 102px; height: 84px; top: 267px; left: 369px;}
.calculator-cont #c_mul {width: 102px; height: 84px; top: 267px; left: 489px;}
.calculator-cont #c_div {width: 102px; height: 84px; top: 367px; left: 489px;}
.calculator-cont #c_add {width: 102px; height: 84px; top: 469px; left: 489px;}
.calculator-cont #c_min {width: 102px; height: 84px; top: 569px; left: 489px;}
.calculator-cont #c_equ {width: 102px; height: 84px; top: 569px; left: 369px;}